@charset "UTF-8";
/*Gender*/
#chart_div_gender {
	width: 100%;
	height: 100%;
	border: 2px solid #000000;
}
/*Age*/
#chart_div_age {
	width: 100%;
	height: 100%;
	border: 2px solid #000000;
}
/*Age-Gender*/
#chart_div_age_gender {
	width: 100%;
	height: 100%;
	border: 2px solid #000000;
}
