@charset "UTF-8";
#table_organic_dashboard td   {
	background-color: #2461D4;
	color: #FFFFFF;
}
#table_organic_dashboard  {
	width: 70%;
	height: 90px;
	text-align: center;
	cursor: pointer;
	margin-left: 15%;
}
#table_paid_dashboard {
	width: 60%;
	height: 60px;
	margin-left: 20%;
	text-align: center;
	cursor: pointer;
}
#table_organic_dashboard td:hover {
	background-color: #75E791;
}
#table_paid_dashboard td:hover {
	background-color: #FFF74B;
}
#table_paid_dashboard td {
	background-color: #FF0004;
}
table td {
	width: 33%;
}
