@charset "UTF-8";
/*Dashboard*/
#dashboard_div {
	width: 49%;
	height: 400px;
	float: left;
	border: 2px solid #000000;
}
#chart_div_dashboard {
	width: 100%;
	height: 100%;
}
#dashboard_div #combo_box_dashboard {
	width: 60%;
}
#chart_cell   {
	width: 90%;
}
#dashboard_table tr #chart_cell2 {
	width: 10%;
}
#dashboard_div #dashboard_table {
	width: 100%;
	height: 90%;
}
#table_organic_dashboard  {
	width: 70%;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: 13px;
}
#table_delta_dashboard  {
	width: 70%;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: 12px;
}
.organic_td:hover {
	background-color: #75E791;
}
.paid_td:hover {
	background-color: #FFF74B;
}
.organic_td    {
	background-color: #2461D4;
	color: #FFFFFF;
}
.paid_td  {
	background-color: #FF0004;
}
/*Komfo*/
#chart_div_komfo {
	width: 49%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
/*RTAnalytics*/
#chart_div_RTAnalytics {
	width: 49%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
/*FB_Reach*/
#FB_reach {
	width: 49%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#chart_div_reach {
	width: 100%;
	height: 70%;
}
/*Promoted*/
#dashboard_div_promoted {
	width: 49%;
	height: 400px;
	float: left;
	border: 2px solid #000000;
}
#chart_div_promoted  {
	width: 100%;
	height: 100%;
}
#dashboard_div_promoted  #combo_box_promoted {
	width: 60%;
}
#chart_cell_promoted    {
	width: 90%;
}
#dashboard_table_promoted tr #chart_cell2_promoted  {
	width: 10%;
}
#dashboard_div_promoted #dashboard_table_promoted  {
	width: 100%;
	height: 90%;
}
#table_organic_promoted   {
	width: 70%;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: 13px;
}
.organic_td_promoted:hover {
	background-color: #75E791;
}
.paid_td_promoted:hover {
	background-color: #FFF74B;
}
.organic_td_promoted     {
	background-color: #2461D4;
	color: #FFFFFF;
}
.paid_td_promoted   {
	background-color: #FF0004;
}
#table_delta_promoted  {
	width: 70%;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: 12px;
}
/*CPM*/
#cpm_div {
	width: 49%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#cpm_div #chart_div_cpm {
	height: 90%;
}
/*Query*/
#dashboard_div_query {
	width: 49%;
	height: 400px;
	float: left;
	border: 2px solid #000000;
}
#chart_div_query  {
	width: 100%;
	height: 90%;
}
#dashboard_div_query  #select_posts {
	width: 60%;
	float: left;
}
#select_posts {
	font-size: 12px;
}
#select_posts_label{
	float: left;
}
#chart_cell_query    {
	width: 90%;
}
#dashboard_table_query tr #chart_cell2_query  {
	width: 10%;
}
#dashboard_div_query #dashboard_table_query  {
	width: 100%;
	height: 90%;
}
#table_organic_query   {
	width: 70%;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: 13px;
}
.organic_td_query:hover {
	background-color: #75E791;
}
.paid_td_query:hover {
	background-color: #FFF74B;
}
.organic_td_query     {
	background-color: #2461D4;
	color: #FFFFFF;
}
.paid_td_query   {
	background-color: #FF0004;
}
#like_input {
	/*float: left;*/
	width: 400px;
	font-size: 12px;
}
#table_delta_query  {
	width: 70%;
	text-align: center;
	cursor: pointer;
	float: left;
	font-size: 12px;
}
/*Query*/
/*Like*/
#chart_div_like {
	width: 99%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	clear: left;
	border: 2px solid #000000;
}
#chart_div_like_totals {
	width: 99%;
	height: 100px;
	overflow-y: scroll;
	float: left;
	clear: left;
	border: 2px solid #000000;
}
/*Like*/
/*Report*/
#chart_div_report {
	width: 49%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
/*Report*/