@charset "UTF-8";
/*table*/
#chart_div_authors {
	width: 33%;
	height: 100%;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#chart_div_posts {
	width: 33%;
	height: 100%;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#chart_div_average {
	width: 33%;
	height: 100%;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#chart_div_week_authors {
	width: 33%;
	height: 100%;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#chart_div_week_posts {
	width: 33%;
	height: 100%;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#chart_div_week_average {
	width: 33%;
	height: 100%;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
.wrap_div{
	float: left;
	width: 100%;
	height: 350px;
	margin-bottom: 10px;
}