@charset "UTF-8";
/*table*/
#chart_div_authors {
	width: 33%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#chart_div_posts {
	width: 32%;
	height: 600px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
#chart_div_average {
	width: 32%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
}
