@charset "UTF-8";
/*Like*/
#chart_div_like {
	width: 99%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	clear: left;
	border: 2px solid #000000;
}
#chart_div_like_totals {
	width: 99%;
	height: 100px;
	overflow-y: scroll;
	float: left;
	clear: left;
	border: 2px solid #000000;
}
/*Like*/
/*Select*/
#chart_div_select{
	width: 99%;
	height: 400px;
	overflow-y: scroll;
	float: left;
	border: 2px solid #000000;
	z-index: 0;
}
#chart_div_select_totals {
	width: 99%;
	float: left;
	border: 2px solid #000000;
	z-index: 0;
}
#demo-input{
	z-index=100;
}
#show_table{
	visibility: hidden;
}
/*Select*/