@charset "UTF-8";
#table_workflow{
	width: 2500px;
	table-layout: fixed;
}
table, th, td {
    border: 1px solid black;
}
.startDate_cell{
	width: 3%;
}
.endDate_cell{
	width: 3%;
}
.content_cell{
	width: 15%;
}
.comments_cell{
	width: 15%;
}
.client_cell{
	width: 4%;
}
.campaign_cell{
	width: 4%;
}
.id_cell{
	width: 1%;
}
.objective_cell{
	width: 5%;
}
.pubDate_cell{
	width: 7%;
}
.status_cell{
	width: 7%;
}
.actions_cell{
	width: 10%;
}