.increase_users {
    animation: glow_green 5s linear 0s infinite;
}

@keyframes glow_green {
    to {
        text-shadow: 0 0 50px #00EE00;
    }
}

.decrease_users {
    animation: glow_red 5s linear 0s infinite;
}

@keyframes glow_red {
    to {
        text-shadow: 0 0 50px #EE0000;
    }
}

.animate_top_site_up {
    animation: background_green 4s ease 0s 2 alternate;
}

@keyframes background_green {
    to {
        background-color: #99FF99;
    }
}

.animate_top_site_down {
    animation: background_red 4s ease 0s 2 alternate;
}

@keyframes background_red {
    to {
        background-color: #FF9999;
    }
}

.myloader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 15px solid #f3f3f3; /* Light grey */
    border-top: 15px solid #204660; /* Deforma Blue */
    border-bottom: 15px solid #204660; /* Deforma Blue */
    border-left: 15px solid #439344; /* Deforma Green */
    border-right: 15px solid #439344; /* Deforma Green */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: -107px 0 0 -107px;
    animation: spin 2s linear infinite;
}

.loader_logo {
	height: 185px; 
    width: 185px; 
    position: absolute; 
    left: 50%; 
    top: 50%;
    margin: -100px 0 0 -100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

