<?php 
	require_once 'Mobile_Detect.php';
	$detect=new Mobile_Detect;
php?>

<div id="sidebar-menu">
	<ul>
		<li class="text-muted menu-title">Navigation</li>

		<?php
		if(isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin'){?>
				<?php if ($detect->isMobile() || $detect->isTablet()) {?>
                    <li>
                        <a href="full_report_mobile.php" class="waves-effect"><i class="zmdi zmdi-check-all"></i> <span> Daily Report </span> </a>
                    </li>
				<?php }else{ ?>
                    <li>
                        <a href="full_report.php" class="waves-effect"><i class="zmdi zmdi-check-all"></i> <span> Daily Report </span> </a>
                    </li>
				<?php }?>
                <li>
                    <a href="secure_index.php" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Secure Dashboard </span> </a>
                </li>
                <li>
                    <a href="CPM.php" class="waves-effect"><i class="zmdi zmdi-money"></i> <span> CPM/RPM </span> </a>
                </li>
		<?}else{?>
			<li>
				<a href="open_index.php" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
			</li>
		<?}?>			
		
		<?php
		if(isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin'){?>
			<li>
				<a href="fb_data_center.php" class="waves-effect"><i class="zmdi zmdi-facebook-box"></i> <span> Facebook Datacenter </span> </a>
			</li>
            <li>
				<a href="CXW.php" class="waves-effect"><i class="zmdi zmdi-trending-up"></i> <span> CXW Analysis </span> </a>
			</li>
            <li>
				<a href="historic_campaigns.php" class="waves-effect"><i class="zmdi zmdi-time-restore"></i> <span> Campaign History </span> </a>
			</li>

		<?php }else{ if(isset($_COOKIE['user_id']) && ($_COOKIE['user_id']=='admin' || $_COOKIE['user_id']=='ventas')){?>
			<li>
				<a href="open_fb_data_center.php" class="waves-effect"><i class="zmdi zmdi-facebook-box"></i> <span> Facebook Data Center </span> </a>
			</li>
		<?php }}?>
		<?php
		if(isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin' || isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin_jr'){?>
			<li>
				<a href="google_data_center.php" class="waves-effect"><i class="zmdi zmdi-google"></i> <span> Google Analytics </span> </a>
			</li>	
			<li>
				<a href="leaderboard.php" class="waves-effect"><i class="zmdi zmdi-format-list-numbered"></i> <span> Leaderboard </span> </a>
			</li>
		<?php }?>
		<?php
		if(isset($_COOKIE['user_id']) && ($_COOKIE['user_id']=='admin' || $_COOKIE['user_id']=='editor')){?>		
			<li>
				<a href="open_leaderboard.php" class="waves-effect"><i class="zmdi zmdi-edit"></i> <span> Escritores </span> </a>
			</li>
		<?php }?>
		<?php
		if(isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin'){?>
			<li>
				<a href="metricas.php" class="waves-effect"><i class="ti-bar-chart"></i> <span> Métricas Notas </span> </a>
			</li>
			<li>
				<a href="reporte.php" class="waves-effect"><i class="fa fa-clipboard"></i> <span> Reporte de Nota </span> </a>
			</li>
			<li>
				<a href="reporte_repsodia.php" class="waves-effect"><i class="zmdi zmdi-videocam"></i> <span> Reporte de Video - Repsodia </span> </a>
			</li>
			<li>
				<a href="rules_datacenter.php" class="waves-effect"><i class="zmdi zmdi-check"></i> <span> Rules Datacenter </span> </a>
			</li>
		<?php }?>
		<?php
		if(isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin' || isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin_jr'){?>
			<li>
				<a href="invoicing_manual.php" class="waves-effect"><i class="zmdi zmdi-money"></i> <span> Invoicing Manuals </span> </a>
			</li>
		<?php }?>
		<?php
		if(isset($_COOKIE['user_id']) && ($_COOKIE['user_id']=='admin' || $_COOKIE['user_id']=='ventas')){
			if ($detect->isMobile() || $detect->isTablet()) {?>
				<li>
					<a href="report_repository_mobile.php" class="waves-effect"><i class="zmdi zmdi-file-text"></i> <span> Reports </span> </a>
				</li>
			<?php }else{?>
				<li>
					<a href="report_repository.php" class="waves-effect"><i class="zmdi zmdi-file-text"></i> <span> Reports </span> </a>
				</li>
			<?php }?>		
		<?php }?>
		<?php
		if(isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin' || isset($_COOKIE['user_id']) && $_COOKIE['user_id']=='admin_jr'){?>
			<li>
				<a href="ventas.php" class="waves-effect"><i class="zmdi zmdi-money-box"></i> <span> Ventas </span> </a>
			</li>
		<?php }?>
		
	</ul>
	<div class="clearfix"></div>
</div>