.increase_users {
    animation: glow_green 5s linear 0s infinite;
}

@keyframes glow_green {
    to {
        text-shadow: 0 0 50px #00EE00;
    }
}

.decrease_users {
    animation: glow_red 5s linear 0s infinite;
}

@keyframes glow_red {
    to {
        text-shadow: 0 0 50px #EE0000;
    }
}

.animate_top_site_up {
    animation: background_green 4s ease 0s 2 alternate;
}

@keyframes background_green {
    to {
        background-color: #99FF99;
    }
}

.animate_top_site_down {
    animation: background_red 4s ease 0s 2 alternate;
}

@keyframes background_red {
    to {
        background-color: #FF9999;
    }
}



