<div class="col-lg-12">
	<div class="card-box">
		<div class="dropdown pull-right">
			<a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
				<i class="zmdi zmdi-more-vert"></i>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a onclick="insertQueryView()">Query</a></li>
				<li><a onclick="insertLatestView()">Latest</a></li>
				<li><a onclick="insertPromotedView()">Promoted</a></li>
			</ul>
		</div>

		<h4 class="header-title m-t-0 m-b-30">Latest</h4>

		<div class="row" id="latest_selectors">
			<div class="form-group">
				<label class="col-sm-1" for="combo_box_latest" id="latest_posts_label">Posts: </label>
				<div class="col-sm-9">
					<select class="form-control" id="combo_box_latest" onchange="selectPostDashboard();" onclick="UpdatePostsDashboard();">
					</select>
				</div>
				<div class="col-sm-2">
					<select id="time_lapse" onchange="selectPostDashboard()" class="form-control">
						<option value="2">2 horas</option>
						<option value="6">6 horas</option>
						<option value="12">12 horas</option>
						<option value="24">24 horas</option>
						<option value="36">36 horas</option>
						<option value="48">48 horas</option>
						<option value="60">60 horas</option>
						<option value="72">72 horas</option>
						<option value="all">Lifetime</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row" id="latest_chart">
			<div id="chart_div" style="height: 500px;" class="col-sm-8"></div>
			<div class="col-md-2">
				<div class="btn-group-vertical m-b-6">
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawChartDashboard(2);">CTR Organico</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawChartDashboard(9);">Link Clicks/</br>Video Views</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawChartDashboard(10);">Shares</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawChartDashboard(4);">Viral Amp</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawChartDashboard(11);">Likes</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawChartDashboard(5);">Penetration</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawChartDashboard(12);">Comments</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawChartDashboard(1);">Gasto</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawChartDashboard(3);">Link Clicks/</br>Video Views Pagados</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawChartDashboard(6);">CXW</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawChartDashboard(14);">RT CXW</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawChartDashboard(7);">CPM</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawChartDashboard(8);">CTR Pagado</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawChartDashboard(13);">Link CPM</button>
				</div>
			</div>
			<div class="col-md-2">
				<div class="btn-group-vertical m-b-6">
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(2);">&#916; CTR Organico</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(9);">&#916; Link Clicks/</br>Video Views</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(10);">&#916; Shares</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(4);">&#916; Viral Amp</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(11);">&#916; Likes</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(5);">&#916; Penetration</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(12);">&#916; Comments</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(1);">&#916; Gasto</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(3);">&#916; Link Clicks/</br>Video Views Pagados</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(6);">&#916; CXW</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(14);">&#916; RT CXW</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(7);">&#916; CPM</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(8);">&#916; CTR Pagado</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataDashboard(); drawDeltaChartDashboard(13);">&#916; Link CPM</button>
				</div>
			</div>
		</div>

	</div>
</div><!-- end col-->