<div class="user-box">
	<div class="user-img">
		<img src="assets/images/users/logodeforma.png" alt="user-img" title="El Deforma" class="img-circle img-thumbnail img-responsive">
		<div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
	</div>
	<h5><a href="index.html">El Deforma</a> </h5>
	<a href="logout.php"><button class="btn btn-danger">Logout</button></a>
</div>