<div id="promote-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id='form'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Promote Post</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ad_account" class="control-label">Ad Account</label>
                                <select class="form-control" id="ad_account" onChange='adAccountSelected()'>
                                    <option value="act_191281401594032">El Deforma (Red Button)</option>
                                    <!--<option value="act_958749654167036" disabled>Promote Interno FC 1</option>-->
                                    <option value="act_31492866">Jacobo F1 (Promote Interno)</option>
                                    <option value="act_31492866">Jacobo F1 (Branded)</option>
                                    <option value="act_955415581167110">Repsodia</option>
                                    <!--<option value="act_986080914767243" disabled>Promote Interno</option>-->
                                    <option value="act_1813540365354623">Quinto Partido</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="limit" class="control-label">Limit</label>
                                <input type='text' class='form-control' id='limit_value' placeholder='Limit'>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="no_limit" value="no_limit" name="radioLimit" checked onclick='deleteLimit()'>
                                    <label for="no_limit">No Limit</label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="spend_limit" value="spend_limit" name="radioLimit">
                                    <label for="spend_limit">Spend</label>
                                </div>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="goal_limit" value="goal" name="radioLimit">
                                    <label for="goal_limit">Goal</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="bootstrap-timepicker">
                                    <input id="promote-timepicker" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="promote-datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input type="text" class="form-control" id="name" required placeholder="Campaign name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="objective" class="control-label">Objective</label>
                                <select class="form-control" id="objective" onchange="changeObjective()">
                                    <option value="CONVERSIONS">View Content</option>
                                    <option value="LINK_CLICKS">Link Clicks</option>
                                    <option value="POST_ENGAGEMENT">Post Engagement</option>
                                    <option value="VIDEO_VIEWS">Video Views</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="billing_event" class="control-label">Billing Event</label>
                                <select class="form-control" id="billing_event">
                                    <option value="IMPRESSIONS">Impressions (CPM)</option>
                                    <option value="LINK_CLICKS">Link Clicks</option>
                                    <option value="IMPRESSIONS">Impressions (CPM)</option>
                                    <option value="VIDEO_VIEWS">Video Views</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="optimization" class="control-label">Optimization</label>
                                <select class="form-control" id="optimization">
                                    <option value="OFFSITE_CONVERSIONS">View Content</option>
                                    <option value="LINK_CLICKS">Link Clicks</option>
                                    <option value="POST_ENGAGEMENT">Post Engagement</option>
                                    <option value="VIDEO_VIEWS">Video Views</option>
                                    <option value="REACH">Reach</option>
                                    <option value="IMPRESSIONS">Impressions</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id='bid_label' for="bid" class="control-label">Bid (USD)</label>
                                <input type="text range" class="form-control" id="bid" placeholder="0.01" required data-parsley-range='[0.01,0.5]' value="0.01">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id='budget_label' for="budget" class="control-label">Budget (USD)</label>
                                <input type="text range" class="form-control" id="budget" placeholder="300" required data-parsley-range="[20,4000]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="age" class="control-label">Age</label>
                                <div id='age' class='input-group'>
                                    <input type="text" class="form-control" id='min_age' required data-parsley-min="13" placeholder=16 value=16 />
                                    <span class="input-group-addon bg-primary b-0 text-white">to</span>
                                    <input type="text" class="form-control" id="max_age" placeholder=65 value=65 required data-parsley-max="65"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id='excluded_group'>
                                <label for="exclude" class="control-label">Exclude Audience</label>
                                <select class="form-control" id="exclude">
                                    <option value=""></option>
                                    <option value="6041870320076">5 days Deforma</option>
                                    <option value="6041870300476">10 days Deforma</option>
                                    <option value="6041870289476">15 days Deforma</option>
                                    <option value="6041870274476">20 days Deforma</option>
                                    <option value="6041870248876">25 days Deforma</option>
                                    <option value="6041870223276">30 days Deforma</option>
                                </select>
                                <label for="connections" class="control-label">Target Fans</label>
                                <select class="form-control" id="connections">
                                    <option value=""></option>
                                    <option value="174058432636166">Deforma Fans</option>
                                    <option value="955758384513864">Repsodia Fans</option>
                                    <option value="314885028843530">TechCult Fans</option>
                                </select>
                                <label for="exclude-connections" class="control-label">Exclude Fans</label>
                                <select class="form-control" id="exclude-connections">
                                    <option value=""></option>
                                    <option value="174058432636166">Deforma Fans</option>
                                    <option value="955758384513864">Repsodia Fans</option>
                                    <option value="314885028843530">TechCult Fans</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="placements" class="control-label">Placements</label>
                                <div class='input-group' id='placements'>
                                    <div class='checkbox checkbox-info'>
                                        <input id='desktop_placement' type="checkbox"/>
                                        <label for='desktop_placement'>Desktop</label>
                                    </div>
                                    <div class='checkbox checkbox-pink'>
                                        <input id='mobile_placement' type="checkbox" checked='true' />
                                        <label for='mobile_placement'>Mobile</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" id='gcs_group'>
                                <label for="GCS" class="control-label">GCS</label>
                                <div class="radio radio-warning">
                                    <input type="radio" name="radio" id="radio_GCS_Hybrid" value="hybrid">
                                    <label for="radio_GCS_Hybrid">
                                        Hybrid GCS
                                    </label>
                                </div>
                                <div class="radio radio-danger">
                                    <input type="radio" name="radio" id="radio_GCS_Full" value="full">
                                    <label for="radio_GCS_Full">
                                        Full GCS
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <input type="radio" name="radio" id="radio_GCS_None" value="none" checked>
                                    <label for="radio_GCS_None">
                                        No GCS
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="locations" class="control-label">Locations</label>
                                <div class='input-group' id='locations'>
                                    <div class='checkbox checkbox-success'>
                                        <input id='mexico' type='checkbox' checked/>
                                        <label for='mexico'>Mexico</label>
                                    </div>
                                    <div class='checkbox checkbox-warning'>
                                        <input id='latam' type='checkbox'/>
                                        <label for='latam'>LATAM</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id='notify-group'>
                                <label for="notify-implementar" class="control-label">No notificar</label>
                                <div class='input-group' id='notify-implementar'>
                                    <div class='checkbox checkbox-danger'>
                                        <input id='do-not-notify' type='checkbox' checked/>
                                        <label for='do-not-notify'>No notificar</label>
                                    </div>
                                </div>
                                <label for="client" class="control-label">Client</label>
                                <input type="text" class="form-control" id="client" placeholder="Client name">
                                <label for="client_campaign" class="control-label">Client campaign</label>
                                <input type="text" class="form-control" id="client_campaign" placeholder="Client campaign">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" onclick='resetForm()'>Close</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="validatePromote()">Create Campaign</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal promote-->