<div id="predict-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style='width: 80%'>
        <div class="modal-content">
            <div class="card-box">
                <div class="row" id="predict_selectors">
                    <div class="form-group">
                        <div class='row'>
                            <div class="col-sm-12">
                                <span id='predict_title'></span>
                            </div>
                            <div class="col-sm-12">
                                <span id='predict_campaign'></span>
                            </div>
                            <div class="col-sm-12">
                                <span id='predict_post_id'></span>
                            </div>
                            <div class="col-sm-12">
                                <span id='predict_paid_imp'></span>
                            </div>
                            <div class="col-sm-12">
                                <span id='predict_paid_ctr'></span>
                            </div>
                            <div class="col-sm-12">
                                &sigma;<input id='sigma' value=10 onKeyDown="if(event.keyCode==13) updateSigmaPredict();"></input>
                                x<sub>0</sub><input id='x_plus' value=0 onKeyDown="if(event.keyCode==13) updateSigmaPredict();"></input>
                                y<sub>0</sub><input id='y_plus' value=0 onKeyDown="if(event.keyCode==13) updateSigmaPredict();"></input>
                                T<input id='time_forward' value=3 onKeyDown="if(event.keyCode==13) updateSigmaPredict();"></input>
                                &Delta;x<input id='d_x' value=0 onKeyDown="if(event.keyCode==13) updateSigmaPredict();"></input>
                                <button id='upadate_predict_sigma' class='btn btn-rounded btn-success' onClick="updateSigmaPredict()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="predict_chart">
                    <div id="chart_div_predict" style="height: 500px;" class="col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal predict-->
