<div id="edit-promote-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id='edit-form'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Edit Campaign</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="edit-ad-name" class="control-label">Change ad Name</label>
                                <input type='text' class='form-control' id='edit-ad-name' placeholder=''>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id='edit-bid-label' for="edit-bid" class="control-label">Change bid (USD)</label>
                                <input type="text range" class="form-control" id="edit-bid" placeholder="" data-parsley-range='[0.01,0.5]'>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id='edit-budget-label' for="edit-budget" class="control-label">Change budget (USD)</label>
                                <input type="text range" class="form-control" id="edit-budget" placeholder="" data-parsley-range="[20,4000]"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="age" class="control-label">Age</label>
                                <div id='age' class='input-group'>
                                    <input type="text" class="form-control" id='edit-min-age' data-parsley-min="13" />
                                    <span class="input-group-addon bg-primary b-0 text-white">to</span>
                                    <input type="text" class="form-control" id="edit-max-age" data-parsley-max="65"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="genders" class="control-label">Genders</label>
                                <div id='genders' class='input-group'>
                                    <select class="form-control" id="edit-genders">
                                        <option value=null>All</option>
                                        <option value=1>Male</option>
                                        <option value=2>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" id='edit-excluded-group'>
                                <label for="edit-exclude" class="control-label">Change Excluded Audience</label>
                                <select class="form-control" id="edit-exclude">
                                </select>
                                <label for="edit-connections" class="control-label">Change Target Fans</label>
                                <select class="form-control" id="edit-connections">
                                    <option value=""></option>
                                    <option value="174058432636166">Deforma Fans</option>
                                    <option value="955758384513864">Repsodia Fans</option>
                                    <option value="314885028843530">TechCult Fans</option>
                                </select>
                                <label for="edit-connections" class="control-label">Change Excluded Fans</label>
                                <select class="form-control" id="edit-excluded-connections">
                                    <option value=""></option>
                                    <option value="174058432636166">Deforma Fans</option>
                                    <option value="955758384513864">Repsodia Fans</option>
                                    <option value="314885028843530">TechCult Fans</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="edit-placements" class="control-label">Change Placements</label>
                                <div class='input-group' id='edit-placements'>
                                    <div class='checkbox checkbox-info'>
                                        <input id='edit-desktop-placement' type="checkbox" />
                                        <label for='edit-dektop-placement'>Desktop</label>
                                    </div>
                                    <div class='checkbox checkbox-pink'>
                                        <input id='edit-mobile-placement' type="checkbox" />
                                        <label for='edit-mobile-placement'>Mobile</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="edit-locations" class="control-label">Change Locations</label>
                                <div class='input-group' id='edit-locations'>
                                    <div class='checkbox checkbox-success'>
                                        <input id='edit-mexico' type='checkbox'/>
                                        <label for='edit-mexico'>Mexico</label>
                                    </div>
                                    <div class='checkbox checkbox-warning'>
                                        <input id='edit-latam' type='checkbox'/>
                                        <label for='edit-latam'>LATAM</label>
                                    </div>
                                </div>
                                <div class='input-group' id='leave-locations'>
                                    <div class='checkbox checkbox-default'>
                                        <input id='leave-targeting' type='checkbox' onclick="hideTargeting()"/>
                                        <label for='leave-targeting'>LEAVE ORIGINAL TARGETING</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" onclick="resetEditForm()">Close</button>
                    <button type="button" class="btn btn-info waves-effect waves-light" onclick="validateEditPromote()">Edit Campaign</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal edit promote-->