<div id="name-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Change Name</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name_post_id" class="control-label">Post Id</label>
                            <span id='name_post_id'>-</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="post_name" class="control-label">Name</label>
                            <input type='text' class='form-control' id='post_name' placeholder='Name'>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect waves-light" data-dismiss="modal" onclick='changeName()'>Change Name</button>
            </div>
        </div>
    </div>
</div><!-- /.modal promote-->