<div id="spend-cap-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action='#' id='form'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Facebook spend cap status</h4>
                </div>
                <div class="modal-body">
                    Red Button
                    <div class="progress progress-bar-primary-alt" style='height: 40px'>
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 40px; padding-top: 3%" id='button-balance'>
                            <span id='number-button-balance' style='font-size: 32px'>0</span>
                        </div>
                    </div>
                    Promote Interno
                    <div class="progress progress-bar-primary-alt" style='height: 40px'>
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 40px; padding-top: 3%" id='interno-balance'>
                            <span id='number-interno-balance' style='font-size: 32px'>0</span>
                        </div>
                    </div>
                    Branded Content
                    <div class="progress progress-bar-success-alt" style='height: 40px'>
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 40px; padding-top: 3%" id='branded-balance'>
                            <span id='number-branded-balance' style='font-size: 32px'>0</span>
                        </div>
                    </div>
                    Repsodia
                    <div class="progress progress-bar-info-alt" style='height: 40px'>
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 40px; padding-top: 3%" id='repsodia-balance'>
                            <span id='number-repsodia-balance' style='font-size: 32px'>0</span>
                        </div>
                    </div>
                    Foreclose
                    <div class="progress progress-bar-warning-alt" style='height: 40px'>
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 40px; padding-top: 3%" id='foreclose-balance'>
                            <span id='number-foreclose-balance' style='font-size: 32px'>0</span>
                        </div>
                    </div>
                    Quinto Partido
                    <div class="progress progress-bar-danger-alt" style='height: 40px'>
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%; height: 40px; padding-top: 3%" id='partido-balance'>
                            <span id='number-partido-balance' style='font-size: 32px'>0</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- /.modal spend-->