<div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style='width: 80%'>
        <div class="modal-content">
            <div class="card-box">
                <div class="row" id="quickview_selectors">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <select id="time_lapse_quickview" onchange="selectPostQuickview($('#quickview_post_id')[0].innerHTML,$('#quickview_title')[0].innerHTML)" class="form-control">
                                <option value="2">2 horas</option>
                                <option value="6">6 horas</option>
                                <option value="12">12 horas</option>
                                <option value="24">24 horas</option>
                                <option value="36">36 horas</option>
                                <option value="48">48 horas</option>
                                <option value="60">60 horas</option>
                                <option value="72">72 horas</option>
                                <option value="all">Lifetime</option>
                            </select>
                        </div>
                        <div class='row'>
                            <div class="col-sm-10">
                                <span id='quickview_title'></span>
                            </div>
                            <div class="col-sm-10">
                                <span id='quickview_post_id'></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="quickview_chart">
                    <div id="chart_div_quickview" style="height: 500px;" class="col-sm-8"></div>
                    <div class="col-md-2">
                        <div class="btn-group-vertical m-b-6">
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawChartQuickview(2);">CTR Organico</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawChartQuickview(9);">Link Clicks/<br>Video Views</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawChartQuickview(10);">Shares</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawChartQuickview(4);">Viral Amp</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawChartQuickview(11);">Likes</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawChartQuickview(5);">Penetration</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawChartQuickview(12);">Comments</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawChartQuickview(1);">Gasto</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawChartQuickview(3);">Link Clicks/<br>Video Views Pagados</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawChartQuickview(6);">CXW</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawChartQuickview(14);">RT CXW</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawChartQuickview(7);">CPM</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawChartQuickview(8);">CTR Pagado</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawChartQuickview(13);">Link CPM</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="btn-group-vertical m-b-6">
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(2);">&#916; CTR Organico</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(9);">&#916; Link Clicks/<br>Video Views</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(10);">&#916; Shares</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(4);">&#916; Viral Amp</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(11);">&#916; Likes</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(5);">&#916; Penetration</button>
                            <button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(12);">&#916; Comments</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(1);">&#916; Gasto</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(3);">&#916; Link Clicks/<br>Video Views Pagados</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(6);">&#916; CXW</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(7);">&#916; CPM</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(8);">&#916; CTR Pagado</button>
                            <button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuickview(); drawDeltaChartQuickview(13);">&#916; Link CPM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.modal quickview-->