<div id="goal-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Change Goal</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="goal_post_id" class="control-label">Post Id</label>
                            <span id='goal_post_id'>-</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="goal_post_goal" class="control-label">Goal</label>
                            <input type='text' class='form-control' id='goal_post_goal' placeholder='Goal'>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="spend_goal" value="spend_goal" name="radioGoal">
                            <label for="spend_goal">Spend</label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="click_goal" value="click_goal" name="radioGoal" checked>
                            <label for="click_goal">Goal</label>
                        </div>
                        <div class="radio radio-info radio-inline">
                            <input type="radio" id="like_goal" value="like_goal" name="radioGoal">
                            <label for="like_goal">Likes</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning waves-effect waves-light" data-dismiss="modal" onclick='removeGoal()'>Remove goal</button>
                <button type="button" class="btn btn-info waves-effect waves-light" data-dismiss="modal" onclick='changeGoal()'>Change goal</button>
            </div>
        </div>
    </div>
</div><!-- /.modal promote-->