<div class="col-lg-12">
	<div class="card-box">
		<div class="dropdown pull-right">
			<a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
				<i class="zmdi zmdi-more-vert"></i>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a onclick="insertQueryView()">Query</a></li>
				<li><a onclick="insertLatestView()">Latest</a></li>
				<li><a onclick="insertPromotedView()">Promoted</a></li>
			</ul>
		</div>

		<h4 class="header-title m-t-0 m-b-30">Query</h4>

		<div class="row" id="query_selectors">
			<div class="form-group">
				<label class="col-sm-1" for="select_posts" id="select_posts_label">Posts: </label>
				<div class="col-sm-9">
					<input id="select_posts" class="ui-widget form-control">
				</div>
				<div class="col-sm-2">
					<select id="time_lapse" onchange="selectPostQuery()" class="form-control">
						<option value="2">2 horas</option>
						<option value="6">6 horas</option>
						<option value="12">12 horas</option>
						<option value="24">24 horas</option>
						<option value="36">36 horas</option>
						<option value="48">48 horas</option>
						<option value="60">60 horas</option>
						<option value="72">72 horas</option>
						<option value="all">Lifetime</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row" id="query_chart">
			<div id="chart_div" style="height: 500px;" class="col-sm-8"></div>
			<div class="col-md-2 m-t-100">
				<div class="btn-group-vertical m-b-6">
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawChartQuery(2);">CTR Organico</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawChartQuery(9);">Link Clicks/</br>Video Views</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawChartQuery(10);">Shares</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawChartQuery(4);">Viral Amp</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawChartQuery(11);">Likes</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawChartQuery(5);">Penetration</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawChartQuery(12);">Comments</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawChartQuery(1);">Gasto</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawChartQuery(3);">Link Clicks/</br>Video Views Pagados</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawChartQuery(6);">CXW</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawChartQuery(14);">RT CXW</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawChartQuery(7);">CPM</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawChartQuery(8);">CTR Pagado</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawChartQuery(13);">Link CPM</button>
				</div>
			</div>
			<div class="col-md-2 m-t-100">
				<div class="btn-group-vertical m-b-6">
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawDeltaChartQuery(2);">&#916; CTR Organico</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawDeltaChartQuery(9);">&#916; Link Clicks/</br>Video Views</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawDeltaChartQuery(10);">&#916; Shares</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawDeltaChartQuery(4);">&#916; Viral Amp</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawDeltaChartQuery(11);">&#916; Likes</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawDeltaChartQuery(5);">&#916; Penetration</button>
					<button type="button" class="btn btn-primary waves-effect" onClick="UpdateDataQuery(); drawDeltaChartQuery(12);">&#916; Comments</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawDeltaChartQuery(1);">&#916; Gasto</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawDeltaChartQuery(3);">&#916; Link Clicks/</br>Video Views Pagados</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawDeltaChartQuery(6);">&#916; CXW</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawDeltaChartQuery(14);">&#916; RT CXW</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawDeltaChartQuery(7);">&#916; CPM</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawDeltaChartQuery(8);">&#916; CTR Pagado</button>
					<button type="button" class="btn btn-danger waves-effect paid" onClick="UpdateDataQuery(); drawDeltaChartQuery(13);">&#916; Link CPM</button>
				</div>
			</div>
		</div>
		
		<!-- Metricas -->
		<div class="row">
			<div class="col-md-3">
				<h4 class="header-title m-t-0 m-b-30">Site Statistics</h4>

				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge badge-primary" id="site_pageviews">-</span>
						Pageviews:
					</li>
					<li class="list-group-item">
						<span class="badge badge-primary" id="time_on_page">-</span>
						Time on Page:
					</li>
					<li class="list-group-item">
						<span class="badge badge-purple" id="site_shares">-</span>
						Shares: 
					</li>
					<li class="list-group-item">
						<span class="badge badge-info" id="site_tweets">-</span>
						Tweets: 
					</li>
					<li class="list-group-item">
						<span class="badge badge-success" id="site_whatsapp">-</span>
						Whatsapps: 
					</li>
					<li class="list-group-item">
						<span class="badge badge-warning" id="site_users">-</span>
						Unique Users: 
					</li>
					<li class="list-group-item">
						<span class="badge badge-inverse" id="site_shares_per_pageview">-</span>
						Shares/Pageviews: 
					</li>
				</ul>
			</div>
			<!-- end col -->

			<div class="col-md-3">
				<h4 class="header-title m-t-0 m-b-30" id="post_id">Facebook Statistics</h4>

				<ul class="list-group">
					<li class="list-group-item">
						<span class="badge badge-purple" id="fb_shares">-</span>
						Shares:
					</li>
					<li class="list-group-item">
						<span class="badge badge-purple" id="fb_likes">-</span>
						Likes:
					</li>
					<li class="list-group-item">
						<span class="badge badge-purple" id="fb_comments">-</span>
						Comments: 
					</li>
					<li class="list-group-item">
						<span class="badge badge-info" id="fb_reach">-</span>
						Reach: 
					</li>
					<li class="list-group-item">
						<span class="badge badge-warning" id="fb_hide">-</span>
						Hide post: 
					</li>
					<li class="list-group-item">
						<span class="badge badge-danger" id="fb_spam">-</span>
						Spam: 
					</li>
				</ul>
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->

	</div>
	
</div><!-- end col-->