<?php 
	require_once 'Mobile_Detect.php';
	$detect=new Mobile_Detect;
php?>

<div id="sidebar-menu">
	<ul>
		<li class="text-muted menu-title">Navigation</li>        
        <li>
            <a href="reporte.php" class="waves-effect"><i class="fa fa-clipboard"></i> <span> Reporte de Nota </span> </a>
        </li>
	</ul>
	<div class="clearfix"></div>
</div>